.board-container {
  font-size: 12pt;
  text-align: center;
}

.start-over {
  font-size: 2em;
  background-color: mediumaquamarine;
  border: solid 1px black;
  cursor: pointer;
}

.result-message {
  min-height: 2em;
}
