.board-container {
  font-family: sans-serif;
  font-size: 12pt;
  text-align: center;
}

.start-over {
  font-family: sans-serif;
  font-size: 2em;
  background-color: lightcoral;
  border: solid 1px black;
}

.result-message {
  min-height: 2em;
}
